<script>
    $(document).ready(function(){
        var url = "http://localhost:3000";
        $.get(url + "/grammarKorea", function(data){
                            $("#list").html("");
                            if(data.kq==1){
                                data.arrGrammar.forEach(function(less){
                                    
                                $("#list").append(`
                                <tr>
                                    <td  class="grammar" lession="cate" srcFile="`+ less.File +`"  idcate="`+less._id+`"> `+ less.Title+`  </td>   
                                    <td> `+ less.File+`  </td>                             
                                </tr>
                               
                                   `);
                                });
                            }
        });
        $("#grammarsp").change(function(){
            var data = new FormData();
                jQuery.each(jQuery('#grammarsp')[0].files, function(i, file) {
                    console.log('media');
                    data.append('media', file);
                });
                jQuery.ajax({
                    url: url + "/uploadFile",
                    data: data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    method: 'POST',
                    type: 'POST', // For jQuery < 1.9
                    success: function(data){
                        if(data.kq==1){
                            console.log(data);
                           $("#FileCateNew").attr("src", url+`/upload/`+ data.urlFile.filename );
                         //   $('audio #AudioCateNew').attr("src", url+`/upload/`+ data.urlFile.filename );
                        //     $('audio').get(0).load();
                        //    $('audio').get(0).play();
                           $("#file_MediaCate").val(data.urlFile.filename);
                      
                        }else{
                            console.log("Upload fail!");
                        }
                    }
                });
        });  
        $("#filesp_Detail").change(function(){
        var data = new FormData();
        jQuery.each(jQuery('#filesp_Detail')[0].files, function(i, file) {
            console.log('media');
            data.append('media', file);
        });
        jQuery.ajax({
            url: url + "/uploadFile",
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            method: 'POST',
            type: 'POST', // For jQuery < 1.9
            success: function(data){
                if(data.kq==1){
                    console.log(data);
                    
                    $("#file_FileCate_Detail").val(data.urlFile.filename);
                }else{
                    console.log("Upload fail!");
                }
            }
        });
    });
        $("#btn_Add_New_Cate").click(function(){
            if($("#file_MediaCate").val().length==0 || $("#title").val().length==0){
                alert("Vui chon file pdf");
            }else{
                $.post(url + "/grammarKorea/add", {
                    Title:$("#title").val(),
                    File:$("#file_MediaCate").val(),
                     
                }, function(data){
                    if(data.kq==1){
                        
                        alert("Add Sucessfully");
                        $.get(url + "/grammarKorea", function(data){
                            $("#list").html("");
                            if(data.kq==1){
                                data.arrGrammar.forEach(function(less){
                                    
                                $("#list").append(`
                                <tr>
                                    <td  class="cate" class="cate" srcFile="`+ less.File +`"  idcate="`+less._id+`"> `+ less.Title+`  </td>   
                                    <td   class="cate"> `+ less.File+`  </td>                             
                                </tr>
                               
                                   `);
                                });
                                console.log(data);
                            }
        });
                        
                        
                    }else{
                        console.log("bad");
                    }
                });
            }
        });

        
       
        
    });

    
    </script>
    
    <div id="form_AddNewCate">
        <input type="file" id="grammarsp" /> <br/>
        <input type="text" id="title" placeholder="Title" /> <br/>
        <input type="button" id="btn_Add_New_Cate" value="Add new" />
        <input type="hidden" id="file_MediaCate" />
            <!-- <audio controls>
                <source id="AudioCateNew" src="" type="audio/mpeg">
               
            </audio> -->
    </div>
    

    <ul id="list_Cate"></ul>


 

   
   
      
    <table width="auto"  border="1">

        <tr>
            <td> <h3>Title </h3> </td>
            
        </tr>
        <tr id = "list"> </tr>


       
</table>

